<configuration>
    <system.webServer>
      <webSocket enabled="false" />
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
          <rule name="nextjsapp">
            <match url="/*" />
            <action type="Rewrite" url="server.js" />
          </rule>
        </rules>
      </rewrite>

      <security>
        <requestFiltering>
          <hiddenSegments>
            <remove segment="bin"/>
            <add segment="node_modules"/>
          </hiddenSegments>
        </requestFiltering>
      </security>

      <httpErrors existingResponse="PassThrough" />

      <iisnode watchedFiles="web.config;*.js" node_env="production" debuggingEnabled="true" />
    </system.webServer>
</configuration>